<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>websockets</title>
</head>
<body>
    
</body>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    // var socket = io.connect('http://' + document.domain + ':' + location.port);
    // socket.on('connect', function() {
    //     socket.emit('my event', {data: 'I\'m connected!'});
    //     socket.on("my event",function(e){
    //         console.log('return:'+ e.data)
    //     })   
    // });

    // client
    // var socket = io('http://127.0.0.1:5000/');

    // socket.on('connect', function(){
    //     console.log(socket.id); // 'G5p5...'
    //     socket.emit('my event', {data: 'I\'m connected!'});
    //     socket.on("my event",function(e){
    //         console.log('response:'+ e.data)
    //     })
    // });

    // example success
    // var socket = io.connect('http://' + document.domain + ':' + location.port + '/allow');

    // socket.emit('response', {room: 'I\'m connected!'});
    // socket.on('response',function(data){         
    //     if (data.code == '200'){
    //         console.log(data);
    //     }else{
    //         console.log('ERROR:' + data);
    //     }
    // });

    // join_room
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/allow');
    // socket.on('connect', function() {
    //     // Connected, let's sign-up for to receive messages for this room
    //     socket.emit('room', '123');
    // });
    socket.emit('join', {room: 'allow'});
    socket.on('message', function(data) {
        console.log('Incoming message:', data);
    });
    // socket.emit('create', 'room1');

</script>
</html>